SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GEMINI_API_KEY=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=https://atherizz-openai.openai.azure.com/openai/v1/
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4.1-mini
